  
.product-item-card {
    background-color: tan;
    border-radius: 6px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
    height: 25vh;
  }
  
  .product-img {
    margin-right: 5vmin;
    margin-bottom: 5vmin;
  }

  .item-img {
    height: 25vh;
    width: 25vh;
    border-radius: 6px;
  }

  
  .product-details {
    color: white;
    margin: 2vmin auto;
    text-align: center;
  }
  