  
.product-item-card {
    background-color: tan;
    border-radius: 6px;
    width: 100%;
    /* box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5); */
  }
  
  .product-img {
    margin-bottom: 5vmin;
  }

  .item-img {
    height: 25vh;
    width: 100%;
    border-radius: 6px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);

  }

  
  .product-details {
    color: white;
    margin: -4vmin auto;
    text-align: center;
  }


  @media screen and (max-width: 480px) {
    .product-item-card {
      height: 10vh;
      margin-bottom: 10vmin;
    }

    .item-img {
      height: 10vh;
      width: 10vh;
      border-radius: 6px;
    }
  }