.CartDetail {
    padding: 3vmin;
    font-size: 2vmin;
    color: white;
    background-color: rgba(210,180,140, 0.8);
    height: 100vh;
    z-index: 1;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    overflow-y:auto
  }
  
 