/* .material-symbols-sharp {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
  };
   */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: white;
    border-bottom: solid 2px black;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 3vmin;
}

.nav-links a, .navbar-user a {
    color: black;
    text-decoration: none;
}

.navbar-user {
    margin-top: -13vmin;
    margin-right: 3vmin;
    float: right;
}

.navbar-user ul {
    padding-top: -10px;
    list-style: none;
}

  
