
nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-color: white;
    border-bottom: solid 2px black;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    padding: 3vmin;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar-user {
    margin-top: -6vmin;
    margin-right: 3vmin;
    float: right;
}

  
