footer {
    background-color: white;
    border-top: solid 2px black;
    margin-top: 15vmin;
    padding: 2vmin;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: tan;
}

.react-icons {
    size: 10em;
}